name: todo-ui-pipeline-project

on: workflow_dispatch
permissions:
    contents: read
    packages: read
      # To report GitHub Actions status checks
    statuses: write

jobs:
  abcd: 
    runs-on: ubuntu-latest
  
    steps: 
       - name: checkout
         uses: actions/checkout@v6.0.1
         with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0
          persist-credentials: false

       - name: Super-linter
         uses: super-linter/super-linter@v8.3.2 # x-release-please-version
         env:
          # To report GitHub Actions status checks
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            VALIDATE_ALL_CODEBASE: false
            VALIDATE_JSON: true
            VALIDATE_CSS: true
jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@v0.10.3
        with:
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
          scan-type: 'fs'
          vuln-type: 'os,library'
          directory: './'